.my-custom-menu {
    --width: 500px;
  }

.d-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 5px;
  border-radius: 7px; 
  border: 2px solid var(--ion-color-tColor);
}

.custom-row{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
}

ion-icon{
  color: var(--ion-color-tColor);
}

.icon-caption{
  text-align: center; color: black;
}

.welcome-msg{
  margin-top: -14%;
  margin-bottom: 10%;
  font-size: 26px;

  padding-left: 10%;
  position:fixed;
}

.booking-btn{
//  background-color: var(--ion-color-pColor);
 align-items: center;
 margin:10% 10% 0 10%;
 display: flex;
 justify-content: center;
 flex-direction: column;

}

.header-image{
  position: relative;
 
}

.header-image::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
 
}
.image{
	content:url("https://images.pexels.com/photos/6129507/pexels-photo-6129507.jpeg?cs=srgb&dl=pexels-rodnae-productions-6129507.jpg&fm=jpg");
  opacity: 0.5;
}

ion-grid{
  margin-top: 8%;
}

.custom-row2{

    display: flex;
    align-items: center;
    justify-content: center;
 
}
