<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-title>Add new appointment</ion-title>
    <ion-icon name="close" slot="end" size="larger" class="ion-padding" (click)="dismis()"></ion-icon>
  </ion-toolbar>

</ion-header>

<ion-content >
  <ion-card class="ion-align-self-center" >

   <ion-item>
     <ion-label >Appointment type</ion-label>
     <ion-select [(ngModel)]="itemPriority">
       <ion-select-option value="low">therapy</ion-select-option>
       <ion-select-option value="middle">x-ray</ion-select-option>
       <ion-select-option value="high" selected>Surgery</ion-select-option>
      </ion-select>
   </ion-item>
  
   <ion-item>
     <ion-icon name="calendar-outline"slot="start"></ion-icon>
     <ion-label >Date : </ion-label>
     <ion-datetime [(ngModel)]="itemDueDate"  displayFormat="D MMM YYYY H:mm" ></ion-datetime>
   </ion-item>
 
   
   <ion-item>
      <ion-textarea [(ngModel)]="itemName"  placeholder="Appointment for : "></ion-textarea>
   </ion-item>
 
   <ion-item>
    <ion-textarea [(ngModel)]="itemContacts"  placeholder="Contact : "></ion-textarea>
   </ion-item>
   
   <ion-button class="ion-margin" expand="block" shape="round" (click)="add()" >Book</ion-button>
   <ion-button (click)="dismis()" shape="round" >close</ion-button>
   
  </ion-card>

</ion-content>